.footer-main-hero {
  width: 100%;
  position: relative;
}

.footer-main {
  width: 100%;
  background-color: rgba(47, 49, 49, 0.988);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  border-radius: 5px 5px 0px 0px;
  color: white;
  position: sticky;
  bottom: 1;
  left: 1;
  right: 0;
}
