.navbar-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-main-nav {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  background-color: rgba(47, 49, 49, 0.988);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 15px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 2px 2px 5px 5px rgba(128, 128, 128, 0.426);
  text-align: center;
  /* position: fixed;
  z-index: 1000;
  top: 0;
  overflow: hidden; */
}

.brand-logo {
  color: white;
}

.brand-logo img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.search-input {
  width: 500px;
}

.search-input input {
  background-color: rgba(255, 255, 255, 0.816);
  width: 80%;
  padding: 8px 0px;
  border-radius: 5px;
  border: none;
  outline: transparent;
}
.search-input input:focus {
  text-indent: 8px;
  background-color: rgb(255, 255, 255);
}
.search-input input::placeholder {
  text-align: center;
  text-indent: 8px;
}

.search-input button {
  margin-left: 5px;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: rgb(255, 183, 0);
  font-weight: bold;
  border: none;
}
.search-input button:hover {
  background-color: rgba(255, 183, 0, 0.81);
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items > .nav-item-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.nav-item-link > .cart-count {
  background-color: rgb(255, 183, 0);
  text-decoration: none;
  color: black;
  padding: 0px 5px;
  border-radius: 5px;
  margin-left: 3px;
  font-weight: bold;
}
.nav-item-link > .cart-count:hover {
  background-color: rgb(71, 69, 69);
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0px 5px;
  border-radius: 5px;
  margin-left: 3px;
  font-weight: bold;
}

.link-hover {
  padding: 5px 25px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.3s ease;
}

.link-hover:hover {
  background-color: #ffc107;
  color: black;
  padding: 5px 25px;
}

@media (max-width: 932px) {
  .search-input {
    display: none;
  }
  .nav-items {
    order: 2;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 5px;
  }
}

@media (max-width: 576px) {
  .navbar-main-nav {
    flex-direction: column;
    align-items: center;
  }

  .brand-logo {
    order: 1;
  }

  .search-input {
    display: none;
  }

  .nav-items {
    order: 3;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
  }
}
